# Git
.gitignore export-ignore
.gitattributes export-ignore

# Composer
composer.json export-ignore

# .org stuff
screenshot-1.png export-ignore
screenshot-2.png export-ignore
screenshot-3.png export-ignore
README.md export-ignore

# NPM / Mix
package.json export-ignore
package.lock export-ignore
webpack.mix.js export-ignore
mix-manifest.json export-ignore

# Asset source files
assets/src export-ignore
